// COLORS
$primary-color: #16c5ce;
$secondary-color: #793fc1;

$name-color: #72bfe9;
$name-color-2: #7579e7;

// $primary-color: #7f449d;
// $secondary-color: #793fc1;

$white-color: #f7f7f7;

$dark-grey: #333333;

$dark-blue-text: #272341; // For Headings

// FONT SIZE
$default-font-size: 1.6rem;
$big-font-size: 4rem;
$mid-font-size: 2.5rem;
